<link rel="stylesheet" href="/public/style.css">
<link rel="stylesheet" href="/public/style.css">
{{message}}
<h1>Login</h1>
<form method="POST">
    Username: <input name="username"><br>
    Password: <input name="password"><br>
    <input type="submit" value="Login">
</form>